appdirs
asgiref
Babel
backcall
bcrypt
beautifulsoup4
blinker
CacheControl
cachetools
certifi
cffi
chardet
Click
colorama
decorator
distlib
dj-database-url
Django
django-bootstrap4
django-extensions
django-heroku
djangorestframework
dnspython 
filelock
firebase-admin
gunicorn
httplib2
idna
ipython-genutils
itsdangerous
jedi
Jinja2
jws
MarkupSafe
msgpack
oauth2client
parso
passlib
pbr
pickleshare
Pillow
pipenv
prompt-toolkit
proto-plus
protobuf
pyasn1
pyasn1-modules
pycparser
pycryptodome
Pygments
pymongo
psycopg2
python-decouple
Pyrebase4
python-http-client
python-jwt
pytz
requests
requests-toolbelt
rsa
shortuuid
simplegeneric
six
soupsieve
speaklater
SQLAlchemy
sqlparse
stevedore
tornado
uritemplate
urllib3
virtualenv
virtualenv-clone
virtualenvwrapper
wcwidth
Werkzeug
whitenoise
WTForms